<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Principal - AYD2</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">AYD2</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button"
                    href="/login">Principal</a></div>
        </div>
    </nav>
    <header class="masthead text-white text-center"
        style="background: url('assets/img/bg-masthead.jpg')no-repeat center center;background-size: cover;background-color: #c53b3b;background-image: url(&quot;assets/img/bg-showcase-2.jpg&quot;);height: 460px;padding-top: 50px;padding-bottom: 0px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="bounce animated mb-5" style="font-size: 75px;">USAC&nbsp;<i class="fa fa-twitter"></i>
                    </h1>
                </div>
                
                <div class="col-md-10 col-lg-8 col-xl-7 offset-xl-3 mx-auto" style="padding-bottom: 15px;">
                    <form method="POST" action="/getweet">
                        <div class="form-row">
                            <div class="col-12 col-md-12 col-xl-6 offset-xl-0 mb-2 mb-md-0"><input  class="form-control form-control-lg pulse animated" type="text" required="" placeholder="Usuario" autofocus="" autocomplete="on" name="obtener_usuario"></div>
                            <div class="col"><button class="btn btn-primary btn-block btn-lg" type="submit" style="margin-top: 0;">Obtener tweets</button></div>
                        </div>
                    </form>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-12 mx-auto" style="padding-bottom: 15px;">
                    <form method="POST" action="/write">
                        <div class="form-row">
                            <div class="col-12 col-md-12 col-xl-4 offset-xl-0 mb-2 mb-md-0"><input class="form-control form-control-lg pulse animated" type="text" required="" placeholder="Usuario" autofocus="" autocomplete="on" name="username"></div>
                            <div class="col-xl-6"><input class="form-control form-control-lg pulse animated" type="text" required="" placeholder="¡Escribí contenido!" autofocus="" autocomplete="on" style="margin-top: 0;" name="contenido"></div>
                            <div class="col-xl-2 offset-xl-0"><button class="btn btn-primary btn-block btn-lg" type="submit" style="margin-top: 0;">Publicar Ahora</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="features-icons bg-light text-center" style="padding-top: 0px;padding-bottom: 0;"></section>
    <footer class="footer bg-light">
        <div class="container" style="padding-bottom: 0;padding-right: 0;padding-left: 0;">


            <% for(var i=0; i < tweets.length; i++) { %>


                <div class="row" style="padding-bottom: 10px;">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <h4 class="text-right card-title"><%= tweets[i].username%></h4>
                                <h6 class="text-right text-muted card-subtitle mb-2">@<%= tweets[i].username%></h6>
                                <p class="lead text-left card-text"><%= tweets[i].contenido%></p>
                                <h6 class="text-left text-muted card-subtitle mb-2"><%= tweets[i].fecha%></h6>
                                <form class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end" method="POST" action="/delete">
                                    <input class="sr-only invisible" type="text" autocomplete="off" value="<%= tweets[i].id%>" name="id_tweet">
                                    <div class="form-group"><button class="btn btn-danger btn-sm d-xl-flex" type="submit">Eliminar</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            <% } %>






        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>